{% extends 'base.html' %}

{% load humanize %}

{% block content %}

<!-- Listing Grid View -->
<section class="our-listing bgc-f7 pb30-991">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
			<div class="col-md-12 col-lg-12">
				<div class="row">
					{% if flats %}
					{% for flat in flats %}
						<a href="{% url 'flat-detail' flat.id %}"> 
							<div class="col-md-6 col-lg-6">
								<div class="properti_city home6">
									<div class="thumb">
										<img class="img-fluid w100" src="{{flat.sittingroom.url}}" alt="fp21.jpg">
										<div class="thmb_cntnt">
											<ul class="tag mb0">
												<li class="list-inline-item"><a href="#">For Rent</a></li>
												<li class="list-inline-item"><a href="#">Featured</a></li>
											</ul>
										</div>
									</div>
									
									<div class="overlay">
										<div class="details">
											<a class="fp_price" href="#">N {{flat.price | intcomma}}<small>/yr</small></a>
											<a href="{% url 'flat-detail' flat.id %}"><h4>{{flat}}</h4></a>
											<ul class="prop_details mb0">
												<li class="list-inline-item"><a href="#">Beds: {{flat.accommodation_type}}</a></li>
												<li class="list-inline-item"><a href="#">Available: {% if flat.taken %} No {% else %}  Yes  {% endif %}</a></li>
											</ul>
											<ul class="mb0">
												<li class="list-inline-item"><button class="btn btn-block btn-thm" type="button"> <a href={% url 'initiate-payment' house_id flat.id %}> Rent! </a> </button></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
					{% endif %}

					{% if spaces %}
					{% for space in spaces %}
						<a href="{% url 'flat-detail' space.id %}"> 
							<div class="col-md-6 col-lg-6">
								<div class="properti_city home6">
									<div class="thumb">
										<img class="img-fluid w100" src="{{space.image.url}}" alt="fp21.jpg">
										<div class="thmb_cntnt">
											<ul class="tag mb0">
												<li class="list-inline-item"><a href="page-listing-grid-v2.html#">For Rent</a></li>
												<li class="list-inline-item"><a href="page-listing-grid-v2.html#">Featured</a></li>
											</ul>
										</div>
									</div>
									
									<div class="overlay">
										<div class="details">
											<a class="fp_price" href="page-listing-grid-v2.html#">N {{space.price | intcomma}}<small>/yr</small></a>
											<a href="{% url 'flat-detail' space.id %}"><h4>{{space}}</h4></a>
											<ul class="prop_details mb0">
												<li class="list-inline-item"><a href="page-listing-grid-v2.html#">Beds: {{space.accommodation_type}}</a></li>
												<li class="list-inline-item"><a href="page-listing-grid-v2.html#">Available: {% if space.taken %} No {% else %}  Yes  {% endif %}</a></li>
											</ul>
											<ul class="">
												<li class="list-inline-item"><button class="btn btn-block btn-thm" type="button"> <a href={% url 'initiate-payment' house_id space.id %}> Rent! </a> </button></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}


