{% extends 'base.html' %}

{% load humanize %}

{% block content %}
<div class="single_page_listing_tab">
    <!-- Listing Single Property -->
    <section class="listing-title-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <div class="single_property_title mt30-767">
                        <h2>{{house.name}}</h2>
                        <p>{{house.address}}</p>
                    </div>
                </div>
                <div class="col-lg-5 col-xl-4">
                    <div class="single_property_social_share mt20">
                        <div class="spss float-left fn-400">
                            {% comment %} <ul class="mb0">
                                <li class="list-inline-item"><a href="page-listing-single-v3.html#"><span class="flaticon-transfer-1"></span></a></li>
                                <li class="list-inline-item"><a href="page-listing-single-v3.html#"><span class="flaticon-heart"></span></a></li>
                                <li class="list-inline-item"><a href="page-listing-single-v3.html#"><span class="flaticon-share"></span></a></li>
                                <li class="list-inline-item"><a href="page-listing-single-v3.html#"><span class="flaticon-printer"></span></a></li>
                            </ul> {% endcomment %}
                        </div>
                        <div class="price text-right tal-400">
                            {% if house.sale %}
                            <h2>N {{house.house_price | intcomma}}<small></small></h2>
                            {% else %}
                            Renting
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<div class="tab-content" id="myTabContent">
		<div class="tab-pane fade show active" id="slider_tabs" role="tabpanel" aria-labelledby="slider-tab">
			<!-- 10th Home Slider -->
			<div class="home10-mainslider">
				<div class="container-fluid p0">
                    <div class="row">
                        <div class="col-lg-12 p0">
                            <div class="listing_single_property_slider">
                                <div class="item">
                                    <img class="img-fluid" src="{{house.exterior_image.url}}" alt="lsslider1.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-fluid" src="{{house.exterior_image_side1.url}}" alt="lsslider2.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-fluid" src="{{house.exterior_image_side2.url}}" alt="lsslider3.jpg">
                                </div>
                                <div class="item">
                                    <img class="img-fluid" src="{{house.exterior_image.url}}" alt="lsslider1.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="map_tabs" role="tabpanel" aria-labelledby="map-tab">
			<div class="h600" id="map-canvas"></div>
		</div>
		<div class="tab-pane fade" id="street_view" role="tabpanel" aria-labelledby="street-view-tab">
			<iframe class="h600 w100" src="https://www.google.com/maps/embed?pb=!4v1553797194458!6m8!1m7!1sR4K_5Z2wRHTk9el8KLTh9Q!2m2!1d36.82551718071267!2d-76.34864590837246!3f305.15097!4f0!5f0.7820865974627469" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>


<!-- Agent Single Grid View -->
<section class="our-agent-single pb30-991">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="listing_single_description">
                            <div class="lsd_list">
                                <ul class="mb0">
                                    {% if not house.building_type == duplex %}
                                    <li class="list-inline-item"><a href="page-listing-single-v3.html#">{{house.building_type}}</a></li>
                                    {% else %}
                                    <li class="list-inline-item"><a href="page-listing-single-v3.html#">{{house.building_type}}</a></li>
                                    <li class="list-inline-item"><a href="page-listing-single-v3.html#">Beds: {{house.accommodation_type}}</a></li>
                                    {% comment %} <li class="list-inline-item"><a href="page-listing-single-v3.html#">Baths: 2</a></li> {% endcomment %}
                                    {% endif %}
                                </ul>
                            </div>
                            <h4 class="mb30">Description</h4>
                            <p class="mb25">{{house.name}} is located at {{house.address}}. 
                               {% if house.newly_built and house.water and house.electricity %}
                               Newly built house with water and electricity availble. 
                               {% elif house.water and house.electricity and not house.newly_built %}
                               With water and electricity availble.
                               {% endif %}
                               You need to see the views to believe them.
                            </p>
                        </div>

                        <a href={% url 'flats-by-building' house.id %} class="btn btn-block btn-thm">
                            Check out Accommodation Space
                        </a> 
                    </div>
                    <div class="col-lg-12">
                        <div class="additional_details">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="mb15">Property Details</h4>
                                </div>

                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <ul class="list-inline-item">
                                        <li><p>Property ID :</p></li>
                                        <li><p>Price :</p></li>
                                        <li><p>Property Type :</p></li>
                                        <li><p>Property Status :</p></li>
                                        
                                    </ul>
                                    <ul class="list-inline-item">
                                        <li><p><span>DU{{house.id}}</span></p></li>
                                        <li><p><span>N {{house.house_price | intcomma}}</span></p></li>
                                        <li><p><span>{{house.building_type}}</span></p></li>
                                        <li><p><span>{% if house.sale %} For Sale {% else %}  For Rent  {% endif %}</span></p></li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <ul class="list-inline-item">
                                        <li><p>Available Free Space :</p></li>
                                        <li><p>Has Electricty :</p></li>
                                        <li><p>Has Water :</p></li>
                                        <li><p>New Building :</p></li>
                                    </ul>
                                    <ul class="list-inline-item">
                                        <li><p><span>{{house.available_number_accommodation_space}}</span></p></li>
                                        <li><p><span>{% if house.electricity %} Yes {% else %}  No  {% endif %}</span></p></li>
                                        <li><p><span>{% if house.water %} Yes {% else %}  No  {% endif %}</span></p></li>
                                        <li><p><span>{% if house.newly_built %} Yes {% else %}  No  {% endif %}</span></p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="property_attachment_area">
                            <h4 class="mb30">Property Attachments</h4>
                            <div class="iba_container style2">
                                <div class="icon_box_area style2">
                                    <a href="{{house.tenant_agreement.url}}" download="{{house.tenant_agreement.url}}">
                                        <div class="score"><span class="flaticon-document text-thm fz30"></span></div>
                                    </a>
                                    <div class="details">
                                        <a href="{{house.tenant_agreement.url}}" download="{{house.tenant_agreement.url}}">
                                            <h5>
                                                <span class="flaticon-download text-thm pr10">
                                                    Tenant Agreement
                                                </span>
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                <div class="icon_box_area style2">
                                    <div class="score"><span class="flaticon-pdf text-thm fz30"></span></div>
                                    <div class="details">
                                        <h5><span class="flaticon-download text-thm pr10"></span> Demo pdf Document</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--features-->
                    <div class="col-lg-12">
                        <div class="application_statics mt30">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="mb10">Features</h4>
                                </div>
                                <!--Showing a ManyToManyField in a Template-->
                                {% if house.features %}
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <ul class="order_list list-inline-item">
                                        {% for feature in house.features.all %}
                                        <li><a href="page-listing-single-v3.html#"><span class="flaticon-tick"></span>{{feature}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-12">
                        <div class="application_statics mt30">
                            <h4 class="mb30">Location <small class="float-right">{{house.address}}</small></h4>
                            <div class="property_video p0">
                                <div class="thumb">
                                    <div class="h400" id="map-canvas"></div>
                                    <div class="overlay_icon">
                                        <a href="page-listing-single-v3.html#"><img class="map_img_icon" src="images/header-logo.png" alt="header-logo.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="shop_single_tab_content style2 bdr1 mt30">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="description-tab" data-toggle="tab" role="tab" aria-controls="description" aria-selected="true">Property video</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent2">
                                <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                                    <div class="property_video">
                                        <div class="thumb">
                                            <img class="pro_img img-fluid w100" src="images/background/7.jpg" alt="7.jpg">
                                            <div class="overlay_icon">
                                                <a class="video_popup_btn red popup-youtube popup-img" href="https://www.youtube.com/watch?v=oqNZOOWF8qM"><span class="flaticon-play"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Landlord-->
            <div class="col-lg-4 col-xl-4">
                <div class="sidebar_listing_list">
                    <div class="sidebar_advanced_search_widget">
                        <div class="sl_creator">
                            <h4 class="mb25">Listed By</h4>
                            <div class="media">
                                <img class="mr-3" src="images/team/lc1.png" alt="lc1.png">
                                <div class="media-body">
                                    <h5 class="mt-0 mb0">Samul Williams</h5>
                                    <p class="mb0">(123)456-7890</p>
                                    <p class="mb0">info@findhouse.com</p>
                                    <a class="text-thm" href="page-listing-single-v3.html#">View My Listing</a>
                                  </div>
                            </div>
                        </div>
                        <ul class="sasw_list mb0">
                            <li class="search_area">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Your Name">
                                </div>
                            </li>
                            <li class="search_area">
                                <div class="form-group">
                                    <input type="number" class="form-control" id="exampleInputName2" placeholder="Phone">
                                </div>
                            </li>
                            <li class="search_area">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                                </div>
                            </li>
                            <li class="search_area">
                                <div class="form-group">
                                    <textarea id="form_message" name="form_message" class="form-control required" rows="5" required="required" placeholder="I'm interest in [ Listing Single ]"></textarea>
                                </div>
                            </li>
                            <li>
                                <div class="search_option_button">
                                    <button type="submit" class="btn btn-block btn-thm">Search</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}

    
    
    
<img class="thumbnail" src="{{house.exterior_image.url}}" alt="">

<h4>{{house.name}}</h4>
<h5>{{house.address}}</h5>
<h5>Building Type: {{house.building_type}}</h5>
<h5>Accommodation Type: {{house.accommodation_type}}</h5>
<h5>Available Free Space: {{house.available_number_accommodation_space}}</h5>
<h5>Has Electricty: {% if house.electricity %} Yes {% else %}  No  {% endif %}</h5>
<h5>Has Water: {% if house.water %} Yes {% else %}  No  {% endif %}</h5>
<h5>New Building: {% if house.newly_built %} Yes {% else %}  No  {% endif %}</h5>


<button type="button"> <a href={% url 'flats-by-building' house.id %}> Check out Accommodation Space </a> </button>
        
