<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <img class="thumbnail" src="{{house.exterior_image.url}}" alt="">
        
        <h4>{{house.name}}</h4>
        <h5>{{house.address}}</h5>
        <h5>Building Type: {{house.building_type}}</h5>
        <h5>Accommodation Type: {{house.accommodation_type}}</h5>
        <h5>Available Free Space: {{house.available_number_accommodation_space}}</h5>
        <h5>Has Electricty: {% if house.electricity %} Yes {% else %}  No  {% endif %}</h5>
        <h5>Has Water: {% if house.water %} Yes {% else %}  No  {% endif %}</h5>
        <h5>New Building: {% if house.newly_built %} Yes {% else %}  No  {% endif %}</h5>
        
        
        <button type="button"> <a href={% url 'flats-by-building' house.id %}> Check out Accommodation Space </a> </button>
        
        <script src="" async defer></script>
    </body>
</html>