<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h2>Personal Details</h2>
        <h5>Name: {{user_detail.get_full_name}}</h5>
        <h5>Email: {{user_detail.email}}</h5>
        <h5>Phone No: {{user_detail.phone_no}}</h5>

        <h2>Payment Details</h2>
        <h5>Bank Name: {{payment_detail.bank_name}}</h5>
        <h5>Account Name: {{payment_detail.account_name}}</h5>
        <h5>Account No: {{payment_detail.account_number}}</h5>

        <h2> Buildings Owned </h2>
        {% for building in buildings %}

        <p><a href={% url 'edit-house' building.id %}>{{building}}</a></p>

        {% endfor %}

        <h2> Referrals </h2>
        {% for ref in referrals %}

        <p>{{ ref }}</p>

        {% endfor %}

        <h2> Transaction </h2>
        <h3> Pending </h3>
        {% for trans in transactions.pending %}

        <p>{{ trans }}</p>

        {% endfor %}

        <h3> Received </h3>
        {% for trans in transactions.received %}

        <p>{{ trans }}</p>

        {% endfor %}


        <script src="" async defer></script>
    </body>
</html>