{% load static %}
<!-- Property Cities -->
<section id="property-city" class="property-city pb30">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h2>Lastest Properties</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for property in lastest_pro %}
            <div class="col-lg-4 col-xl-4">
                <div class="properti_city">
                    <div class="thumb"><img class="img-fluid w100" src="{{property.exterior_image.url}}" alt="pc5.jpg"></div>
                    <div class="overlay">
                        <div class="details">
                            <a href="{% url 'house-detail' property.id %}"><h4>{{property}}</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>